<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%t] %-5le [%file:%line] - %msg %n</pattern>
		</encoder>
	</appender>

	<logger name="com.kerberos">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>

	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="WARN" />
	</logger>

	<logger name="org.springframework.beans">
		<level value="WARN" />
	</logger>

	<logger name="org.springframework.context">
		<level value="WARN" />
	</logger>

	<logger name="org.springframework.web">
		<level value="WARN" />
	</logger>

	<!-- db-flute -->
    <!-- IT以降ではSTDOUTは不要 -->
    <logger name="org.dbflute">
		<level value="WARRN" />
	</logger>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>